{#
/**
 * @file
 * Default theme implementation for a summary of a webform confirmation file handler.
 *
 * Available variables:
 * - settings: The current configuration for this confirmation file handler.
 * - handler: The confirmation file handler.
 *
 * @ingroup themeable
 */
#}

<b>{{ 'File name:'|t }}</b> {{ settings.name }}<br />
<b>{{ 'File source:'|t }}</b> {{ settings.source }}<br />
{% if settings.url %}<b>{{ 'File URL/path:'|t }}</b> {{ settings.url }}<br />{% endif %}
<b>{{ 'Mime type:'|t }}</b> {{ settings.mimetype }}<br />
<b>{{ 'File size:'|t }}</b> {{ settings.filesize }}<br />
<b>{{ 'Download:'|t }}</b> {{ settings.download ? 'Yes'|t : 'No'|t }}<br />
